<% provide(:title, "Home") %>

<div id="main-content" class="container">
  <div class="jumbotron">
    <!--<img src="images/freestocks-org-126848-unsplash.jpg" alt="drugs-phote"
    id="sm-img" class="img-responsive visible-xs">-->
    <%= image_tag "freestocks-org-126848-unsplash.jpg", :class => 'img-responsive visible-xs'%>
      <h1 id="jumbotron-h1">Join us and get located anywhere</h1>
      <p id="jumbotron-id">Are you ready to skyrocket your pharmacy? Click below to join us or learn more</p>
      <br>
      <p><a class="btn btn-primary btn-lg jumbo-btn" href="#" role="button">Join »</a> <a class="btn btn-primary btn-lg jumbo-btn" href="#" role="button">Learn more »</a></p>
  </div>

  <div id="home-tiles" class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="#"><div id="clients-tile"><span>OUR CLIENTS</span></div></a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="#"><div id="info-tile"><span>INFO</span></div></a>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <a href="" target="_blank">
        <div id="map-tile">
          <span>MAP</span>
      </a>
    </div>
  </div><!--end of home tiles-->
</div><!--end of main page-->




<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
