@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-size: 16px;
  color: #777;
  /*background-color: #7cedff; #4ff4a2*/
  background-color: #fff;
  font-family: Oxygen, sans-serif;
}

#header-nav{
  /*background-color: #768976*/;
  border-radius:0;
  border:0;
}

#logo-img{
  /*background: url('../images/trackback.png') no-repeat;*/
  background:url("./trackback.png") no-repeat;
  width: 50px;
  height: 55px;
  margin: 10px 15px 10px 0;
}

.navbar-brand{

}

.navbar-brand h1{
  color: #337ab7;
  font-size:1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand p{
  color: #777;
  font-size: 1em;
  margin-top: 5px;
}

#nav-list{
  margin-top: 10px;
}

#nav-list a{
  font-size: 1.2em;
  color: #777;
  text-align: center;
}

#nav-list a:hover{
  color: #337ab7;
  background: #e7e7e7;
}

#nav-list a span{
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a{
  text-align: right;
  padding-bottom: 0;
}

#phone div{
  color: #00e600;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #337ab7;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

.container .jumbotron{
  color: #fff;
}

.jumbo-btn{
  background-color: #00e700;
  border: 0;
}

#clients-tile, #info-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #777;
  overflow: hidden;
}

#clients-tile:hover, #info-tile:hover, #map-tile:hover{
  box-shadow: 0 5px 5px 5px #cccccc;
}

#clients-tile {

  background:url("./timothy-muza-572-unsplash (3).jpg") no-repeat;
  background-size: cover; /* or contain depending on what you want */
  background-position: center;
}

#info-tile {
  background:url("./hal-gatewood-405338-unsplash (1).jpg") no-repeat;

  background-size: cover; /* or contain depending on what you want */
  background-position: center;
}

#clients-tile span, #info-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  opacity: .7;
}
/**END HOME PAGE*/
@media only screen and (min-width: 1200px) {
  .container .jumbotron{
    background:url("./ousa-chea-552189-unsplash (1).jpg") no-repeat;
    background-size: cover; /* or contain depending on what you want */
    background-position: center;
    height: 400px;
    box-shadow: 0 0 8px;
    border: 1px solid;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  #logo-img{
    background: url('../images/trackback.png') no-repeat;
    width: 50px;
    height: 55px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron{
    background:url("./ousa-chea-552189-unsplash (1).jpg") no-repeat;
    background-size: cover; /* or contain depending on what you want */
    background-position: center;
    height: 400px;
    box-shadow: 0 0 8px;
    border: 1px solid;
  }

  .navbar-brand h1{
    color: #337ab7;
    font-size:1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }

  .navbar-brand p{
    color: #777;
    font-size: 1em;
    margin-top: 5px;
  }

  #nav-list a{
    font-size: 0.8em;
    color: #777;
    text-align: center;
  }

}

@media only screen and (min-width: 767px) and (max-width: 991px){
  .container .jumbotron{
    background:url("./ousa-chea-552189-unsplash (1).jpg") no-repeat;
    background-size: cover; /* or contain depending on what you want */
    background-position: center;
    height: 300px;
    box-shadow: 0 0 8px;
    border: 1px solid;
  }

}


@media only screen and (max-width: 768px) {

  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw;/*1vw = 1% of viewport width*/
  }

  .navbar-brand p{
    font-size: .8em;
    margin-top: 12px;
  }

  .navbar-brand p img{
    height: 20px;
    text-transform: uppercase;
  }

  #collapsable-nav a{
    font-size: 1.2em;
    margin-right: 5px;
  }

  .container .jumbotron{
    margin-top: 30px;
    padding: 0;
    box-shadow: 0 0 8px;
    border: 1px solid;
    color: #fff;
  }

  .img-responsive visible-xs{
    background-size: cover; /* or contain depending on what you want */
    background-position: center;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
    }
  }
