<footer class="panel-footer">
  <div class="container">
    <div class="row">
      <section id="hours" class="col-sm-4">
        <span>Info</span><br>
        regisetered with WWP<br>
        Experts available
        <hr visible-xs>
      </section>

      <section id="hours" class="col-sm-4">
        <span>Info</span><br>
        regisetered with WWP<br>
        Experts available
        <hr visible-xs>
      </section>

      <section id="hours" class="col-sm-4">
        <span>Info</span><br>
        regisetered with WWP<br>
        Experts available
        <hr visible-xs>
      </section>
    </div>
  </div>
</footer>
