<header>
  <nav id="header-nav" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="index.html" class="pull-left visible-md visible-lg">
          <div id="logo-img" alt="Logo Image"></div>
        </a>

        <div class="navbar-brand">
            <a href="index.html" class="pull-rights">
              <h1>KAYAK</h1>
              <p><span>Pharmaceutical company limited</span></p>
            </a>
        </div>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="collapsable-nav" class ="collapse navbar-collapse">
        <ul id="nav-list" class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   "/"%></li>
          <li><%= link_to "About",   about_url %></li>
          <li><%= link_to "Services",   services_url %></li>
          <li id="phone" class="hidden-xs">
            <a href="tel:233-050-525-7947">
              <span>050-525-7947</span></a><div>* Hotline</div>
          </li><!--nav-list-->
        </ul><!--.collapse .navbar-collapse -->
      </div>

    </div>
  </nav>

</header>
